/* Body + Headings + Fonts */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: regular;
  font-size: 16px;
  color: #00332b;
}

h1 {
	font-family: 'Open Sans', sans-serif;
  font-weight: 600;
	text-align: center;
	font-size: 3.15em;
  color: #00332b;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
	font-size: 1.2em;
  color: #00332b;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
  color: #00332b;
}

h4 {
	font-family: 'Lato', sans-serif;
  font-weight: 300;

}


/* Header + Top Nav */
.top-container {
  background: #ffffff;
  padding: 30px;
  text-align: center;
}

.header {
  background: #ffffff;
  color: #00332b;
  padding-left: 30px;
  padding-right: 30px;
}

.header_one {
  float: left;
	width: 520px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.topnav {
  overflow: hidden;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.topnav a, .topnav h2 {
  float: right;
  display: block;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 1.2em;
	color: #00332b; /*#3d3d3d*/
}

.topnav a:hover {
  color: #00332b;
}

.topnav a.active {
  color: #00332b;
}

#case_studies:hover, #CS1:hover, #CS2:hover, #CS3:hover, #CS4:hover,
#header_one:hover, #resume_page:hover, .header_one:hover
 {
  cursor: pointer;
}


/* Rest of Content */
.content {
  padding: 16px;

}
.studies {
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.title_header, #project_header {
  border-bottom: 1px solid #00332b;
}

.case_container {
  padding-left: 16vw;
  padding-right: 16vw;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.case_item {
  background: #00332b;
  padding: 15px;
  height: 25vh;
  margin-top: 1.5vh;
  padding-top: 9vh;
  font-weight:lighter;
  color: white;
  font-size: 1em;
  text-align: center;
}

.case_item h4 {
 text-transform: uppercase;
 margin-top: 3px;
}

#CS1, #CS2, #CS3, #CS4 {
  width: 49%;
}

.about {
  width: 65%;
  text-align: left;
  margin: 0 auto;
}

/* Footer */
footer {
	font-size: 18px;
}

.fa, .fab {
	color: #00332b;
}

/* On Mobile */
@media screen and (max-width: 885px) {
   .header_one, .header_two, .interests_details {
    float: none;
    width: auto;
  }

  #case_studies, #resume_page {
    align-items: center;
  }
  .about {
    width: 90%;
  }
  .topnav {
    display: none;
  }
  #CS1, #CS2, #CS3, #CS4 {
    width: 100%;
  }
  .header_one, .header_two, .me_img, .intro {
    float: none;
    width: auto;
  }
  .case_item h4 {
   text-transform: uppercase;
   margin-top: -3px;
  }
  .case_container {
    width: 100%;
    padding: 0px;
  }

}

@media screen and (max-width: 334px) {
   .header_one, .header_two, .interests_details {
    float: none;
    width: auto;
  }

  #case_studies, #resume_page {
    align-items: center;
  }
  #resume_page {
    margin-top: -35px;
  }
  .case_item p {
    visibility: hidden;
  }
  .case_item h4 {
    margin-top: 12px;
  }


}
