.caption {
  font-size: 12px;
  text-align: center;
  margin: -40px auto;
}
.caption a {
  font-size: 12px;
}
#design-hr {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 48px;
}
#design-hr-nc {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 48px;
}

.small-img-container {
  width: 100%;
      margin: 0 auto;
      text-align: center;
}
.accent-info {
  background-color: rgb(131, 144, 250, .5);
  border-radius: 50px;
  font-size: 14px;
  padding: 0 10px;
  height: auto;
  margin: 4px;
}
.highlight {
  background-color: rgb(131, 144, 250, .5);
  border-radius: 50px;
  font-size: 16px;
  padding: 8px 16px;
  height: auto;
  margin: 4px;
}

.accent-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#small-img {
  width: auto;
}
#scroll-section {
   max-height: 600px;
   overflow-y: scroll;
   overflow-x:hidden;
   width: 360px;
   margin: 0 auto
}
h5 {
  margin: -32px 0 40px;
}
#scroll {
  margin: 5px auto !important;
}

hr {
  background-color: #f9dede;
  width: 75%;
  margin-top: 32px;
  margin-bottom: 32px;
}
.falc-ad-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

/* EXTRA */
.dot-mobile img {
  max-width: 56px;
  max-height: 56px;
}
.color-scheme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
.colors {
  width: 48px;
  height: 48px;
}
.nav_container-mobile {
  display: none;
}
.other:hover {
  cursor: pointer;
}
.research-item a:hover {
  text-decoration: none;

}
#intro-tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}
#tag-container {
  display: flex;
  width: 60%;
  flex-direction: column;
}
#intro-tag {
  font-size: 48px;
  line-height: 56px;

}
.pill {
  border-radius: 50px;
  background-color: #F9DEDE;
  font-size: 24px;
  line-height: 24px;
  width: 160px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.button {
  background-color: #333333;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 8px 16px;
  width: 280px;
  text-align: center;
  font-size: 16px;
}
.button:hover {
  cursor: pointer;
  font-weight: bolder;


}

.button a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
}
.topnav a {
  padding: 0 16px;
}
.focus-area-d {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}
.area-d {
  width: 25%;
}
.focus-area-m {
  display: none;
}

.research-q {
  width: 75%;
  background-color: #f9dede;
  margin: 32px auto;
  padding: 16px;
  border-radius: 16px;
}
#blurb {
  justify-content: center;
  align-self: center;
  background-color:#f9dede;
  padding: 16px;
  border-radius: 16px;
}
#gif-container {
  display: flex;
  justify-content: center;
}
.research-q h4 {
  text-align: center;
}
.research-item ul {
  margin-top: 8px;
}

.cs-section {
  width: 100%;
  padding: 16px 64px;
}
.project_overview {
  max-width: 1280px;
  margin: 0 auto;
}
#intro {
  background-color: #f9dede;
  padding: 32px 64px;
}

.item {
  width: 60%;
}
.cs-section b {
  font-weight: bolder;
}
.research-item {
  width: 50%;
}
.research-item h4 {
  margin: 0 auto;
  text-align: center;
}
#funnel-img {
  max-height: 220px;
  width: auto;
  margin: 16px;
}
#design-system-img img {
  max-width: 300px;
  margin: 0 16px;
}

.title p {
  margin-bottom: 48px;
}

ul {
  margin-top: 16px;
}
li {
  margin: 0 0 8px 0;
}

.project_overview, .page_container {
  max-width: 1280px;
}

.research-approach {
  display: flex;
  flex-direction: row;
}
/*.research-item {
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 1px dashed gray;
  border-radius: 10px;
  align-items: center;
  padding: 16px;
  margin: 8px;
}*/
.research-title {
  font-weight: bold;
}
.new_update {
  border: 1px dashed lightgrey;
  padding: 8px;
  margin-bottom: 32px;
}
.new-personas {
  width: 95%;
  margin: 8px 16px 16px;
}
.section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.usability-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/*.usability-item, {
  width: 48%;
}*/

.outcome-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#img-item {
  margin: 0 auto;
text-align: center;
justify-content: center;
align-items: center;
width: 40%;

}

.usability-item img {
  width: 100%;
}
.outcome-info img {
  width: 100%;
  margin: 16px;
}

#fun-icon {
  width: 50%;
}
#resume-link {
  padding-right: 0;
}

/* FLIP CARDS */
.flip-card {
  width: 100%;
  height: 304px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start
  align-items: center;
  flex-direction: column;
  overflow: scroll;

}
#ux_team_back {
  border: 5px solid #003D00;
}
#ux_research_back {
  border: 5px solid #003D00;
}
#research_design_back {
  border: 5px solid #003D00;
}

/*TAGS*/

p, ul, body {
  font-size: calc(16px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 28px;
}

i {
  font-size: calc(16px + .4vw);
  font-weight: bolder;
}

a {
  font-size: calc(16px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding-left: 2px;
  padding-right: 2px;
}
h2 {
  font-size: calc(21px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h3 {
  font-size: calc(18px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 24px 0 4px 0;
}

h4 {
  font-size: calc(14px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: normal;

}
h1 {
  margin-top: -16px;
}

mark {
  color: white;
  background: black;
  padding: 16px;
  font-size: calc(14px + .4vw);
  display: inline-block;
  margin-bottom: 8px;
}



/*NAVIGATION*/

.page_container {
  max-width: 1280px !important;
  margin: 0 auto !important;
}

.nav_container-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.topnav {
  float: right;
  margin: 48px 0;
}

.topnav a {
  color: black;
}

.dot {
  width: 256px;
  float: left;
  margin: 48px 0 64px;
}
.dot img {
 width: 100%;
}

.fa-jack-o-lantern  {
  color: white;
}

/*TITLE*/

.title {
  margin: -24px auto 24px;
  justify-content: center;
  text-align: center;
}

/*WORK*/
.work_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 64px 0 !important;
  font-size: calc(21px + .4vw);
  align-items: center;
  align-content: space-between;
}

.work {
  width: 45%;
  height: 304px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  color: black;
  background: white;
  font-size: calc(36px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 16px;
  opacity: 1;
  width: 100%;
  line-height: 48px;
  margin: 16px;
}

#mortgage_calc, #ux_team, #ux_practice, #ux_team, #funnel_improvements, #ux_research, #additional_wins, #research_design_system, #leadership  {
/*background-image: url("mockDrop_iPhone_5.jpg");*/
border: 3px solid #D82525;

}
#mortgage_calc:hover, #ux_practice:hover, #ux_team:hover, #additional_wins:hover, #funnel_improvements:hover, #leadership:hover   {
   background-color: #f9dede;
}


  .work_title {
  visibility: visible;
  opacity: 1;
  color: black;
  background: white;
  font-size: calc(36px + .4vw);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 16px;
  opacity: 1;
  width: 100%;
  line-height: 48px;
}
.work_title: hover, .work_title: active {
  font-weight: 500 !important;
}
.work span {
  font-size: 21px;
  line-height: 28px !important;


}

.work:hover, .dot:hover, .fa-instagram:hover, .fa-github-square:hover {
    cursor: pointer;

}

/* WINS */
.wins {
  display: flex;
  flex-direction: row;
  padding: 8px 0px 8px 24px;
  align-items: flex-start;
}
.win_num {
  font-size: 78px;
  opacity: 30%;
  color: #FFC200;
  margin: auto 0;
  width: 10%;
  text-align: center;
  align-content: flex-start;
  padding-right: 24px;
}


/*RESUME*/
.resume_body {
  width: 90%;
  margin: 0 auto;
}

.resume_header {
  font-size: calc(28px + .4vw);
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  text-align: center;
}

.resume_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(18px + .4vw);
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin: 0 auto;
  font-size: calc(18px + .4vw);
  font-family: 'Heebo', sans-serif;
}

.employment_history, .education {
  display: flex;
  flex-direction: column;
}

.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: -8px auto;
}

.website, .number, .email {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + .4vw);
}
.email a, .about_info a, .case_study_body a {
  color: #174EB3;
}

.date, .degree {
  float: right;
}

.company_name, .school_name {
  float: left;
}

.fa-circle {
  font-size: 5px;
  margin: 0 auto;
}

/*ABOUT*/
#about_me {
  padding-left: 0px;
  padding-right: 0px;
}

.head_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head_name p {
  margin-top: -24px ;
}

.about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px;
  /*margin-left: 45px;
  margin-right: 45px;*/
  margin-top: 48px;
  font-size: calc(21px + .4vw);
  align-items: center;
}
.intro {
  display: flex;
  flex-direction: row;
}
.intro h2 {
  margin-bottom: 24px;
}
.intro span {
  margin: 0px 8px;
}
.intro h4 {
  margin: 0px;
}

.headshot {
  height: 400px;
  width: 400px;
  background-image: url("headshot.JPG");
  background-size: cover;
  background-position: center;
  margin: 24px 24px 24px 0px;
}

.about_info {
  width: 65%;
}

.fa_ghost {
  color: white;
}

.about_info, .about_info a, .contact_info a, .background a, .case_study_body a {
  font-size: calc(16px + .4vw);
  padding-left: 0px !important;
  padding-right: 0px !important;
  cursor: pointer;
}

/* CASE STUDIES*/
.case_study_body, .about_container {
  max-width: 1280px;
  margin: 0 64px;
}


.case_intro {
  display: flex;
  flex-direction: row;
  border: 1px dashed lightgrey;
  padding: 8px;
}

.redesign {
  margin: 0 auto;
  width: 50%;
}

.redesign img{
  width: 100%;
  height: 275px;
  object-fit: contain;
  image-rendering: high-quality;
  position: relative;
  top: 50%;
transform: translateY(-50%);
}

/*
span.highlight {
background: linear-gradient(104deg, rgb(255, 194, 0, 0) 0.9%, rgb(255, 194, 0,1.25) 2.4%, rgb(255, 194, 0, 0.5) 5.8%, rgb(255, 194, 0, 0.1) 93%, rgb(255, 194, 0, 0.7) 96%, rgb(255, 194, 0, 0) 98%), linear-gradient(183deg, rgb(255, 194, 0, 0) 0%, rgb(255, 194, 0, 0.3) 7.9%, rgb(255, 194, 0, 0) 15%);
padding: 0.3em 13.7px;
-webkit-box-decoration-break: clone;
margin: 0;
  margin-bottom: 16px;
border-radius: 7.5px;
/*text-shadow: -12px 12px 9.8px rgb(255, 194, 0, 0.7), 21px -18.1px 7.3px rgb(255, 194, 0, 1), -18.1px -27.3px 30px rgb(255, 194, 0, 1);
}
.realistic-marker-highlight{
  position:relative;
}

.realistic-marker-highlight:before{
  content:"";
  background-color:#FFC200;
  width:100%;
  height:1.25em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.55em;

}*/
.falc-ad-container-mobile {
  display: none;
}
/*ADS*/
.gifs {
  margin: 24px;
}

.gif_list {
  text-align: center;
}

/*FOOTER*/
.footer {
  justify-content: center;
  margin: 8px auto;
  text-align: center;
  color: black;
}

.fa-instagram, .fa-github-square, .fa-linkedin-in{
  margin: 24px 8px 24px 8px;
  font-size: calc(28px + .8vw);
  text-align: center;
}
.fa-instagram:hover, .fa-github-square:hover, .fa-linkedin-in:hover, .fa-instagram:active, .fa-github-square:active, .fa-linkedin-in:active {
  cursor: pointer;
  color: #D82525;
}
.falc-ad-container {
  display: flex;
}



/*MEDIA QUERY*/
@media only screen and (max-width: 1028px) {
  .falc-ad-container-mobile {
    display: flex;
    flex-direction: column;
  }
  .falc-ad-container {
    display: none;
  }
  .details, .education_details, .case_intro {
    display: flex;
    flex-direction: column;
  }

  .work_container, .about_container, .contact_info, .mc_intro  {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .nav_container-desktop {
    display: none;
  }
  .nav_container-mobile  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto 24px;
    padding: 0 64px;

  }
  .topnav h2 {
    margin: 0 0 0 24px !important;
  }
  .dot {
    display: none;
  }
  .dot-mobile {
    display: flex;
    margin: 32px 0 32px 0;
  }

  .images img {
    width: 100%;
    margin-bottom: 10px;
  }

  .headshot {
    margin: 0px;
    width: 90%;
    height: 320px;
    width: 320px;
    background-size: contain;
  }

  .work {
    width: 100%;
    margin: 0 0 32px;
  }

  mark {
    width: 100%;
    margin-bottom: 8px;
  }

  .number, .email{
    margin: 0 auto;
    text-align: center;
  }

  .about_info, .resume_body, .contact_info, .studies, .content {
    width: 90% !important;
  }

  .topnav {
    margin: 0 auto;
    float: center;
    margin: 0;
    color: black;
  }

  .work_title {
  visibility: visible;
  opacity: 1;
  color: black;
  font-size: calc(24px + .4vw);
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 16px;
  }

.head_name p {
  margin-top: 8px;
}

.title {
  margin: 0px auto !important;
  padding: 0 16px;
}

.redesign img{
  top: 0%;
transform: translateY(0%);
}

}

@media only screen and (max-width: 620px) {
  h5 {
    margin: -24px 0 40px !important;
  }
  #scroll {
    margin: 5px auto !important;
  }
.wins {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.win_num {
  display: none;
}
.win_summary {
  width: 100%;
}
.usability-section, .outcome-section {
  flex-direction: column !important;
}
.cs-section {
  padding: 16px 16px;
}
.section {
  flex-direction: column !important;
}
.usability-item, .outcome-info, .item {
  width: 100% !important;
}
#funnel-img {
  width: 100% !important;
}
.topnav {
  margin: 16px 0 16px 32px !important;
}
.research-approach {
  display: flex;
  flex-direction: column;
}
.research-item{
  width: 100%;
  margin-bottom: 16px;
}
.research-q {
  width: 100%;
  margin: 16px 0;
}
.work_container {
  margin: 0 16px !important;
}
h1 {
  margin-top: 0 !important;
}
#intro {
  padding: 16px;
}
#gif {
  width: 100%;
  margin: 0 auto;
}
.focus-area {
  flex-direction: column;
  width: 100%;
}
.area {
  width: 100%;
}
.topnav h2 {
  width: 100%;
margin: 0 auto;
}
.topnav {
  height: 100%;
}
.topnav a {
  margin: 16px 0 16px;
}
.nav_container-mobile  {
  padding: 0 16px;

}
#resume-link {
   margin-right: -12px;
}
#intro-tag {
  font-size: 24px;
  line-height: 36px;
}
#intro-tag-container, #tag-container {
  width: 100%;
}
.intro {
  flex-direction: column;
}

}
@media only screen and (max-width: 800px) {
#design-update {
  display: flex;
  flex-direction: column;
}
#design-update .research-item {
  width: 100%;
  margin-top: 16px;
}
.focus-area-m {
  flex-direction: column;
  width: 100%;
  display: flex;
}
.area-m {
  width: 100%;

}
.focus-area-d {
  display: none;
}
.caption {
  margin: -20px auto;
}
#design-hr {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 48px;
}
#design-hr-nc {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 48px;
}
#small-img {
  width: 100%;
}

}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .nav_container-desktop {
    margin: 0 64px;
}
}
@media only screen and (min-width: 1440px) {
  .work_container, .about_container {
      margin: 32px 0 0 !important;
  }
}
